[submodule "includes/GLFW"]
	path = includes/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "includes/GLAD"]
	path = includes/GLAD-master
	url = https://github.com/wooandrew/glad.git
[submodule "includes/GLM"]
	path = includes/GLM
	url = https://github.com/g-truc/glm.git
