[submodule "includes/GLFW"]
	path = includes/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "includes/GLAD"]
	path = includes/GLAD-master
	url = https://github.com/wooandrew/glad.git
[submodule "includes/GLM"]
	path = includes/GLM
	url = https://github.com/g-truc/glm.git
[submodule "includes/STB"]
	path = includes/STB
	url = https://github.com/nothings/stb.git
[submodule "includes/FREETYPE"]
	path = includes/FREETYPE
	url = https://github.com/freetype/freetype2.git
[submodule "includes/ASWL"]
	path = includes/ASWL
	url = https://github.com/wooandrew/ASWL.git
